/* Set the scroll behavior to smooth so that when you click the in the header, the screen scrolls down rather than jumps */
html {
  scroll-behavior: smooth;
}

/* Set the margin to 0 to make sure the page stretches all the way to the edge of the browser window. */
body {
  margin: 0;
}

header, footer {
  background-color: #A3B18A;
  text-align: left;
  /* min-width: 500px; */
}

header {
  font-family: 'Alice', serif;
  color: #fff;
  min-height: 100vh;
  display: flex;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) ) ;
  grid-gap: 20px;
  margin-top: 44px;
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: calc(1em + 3vw);
  padding-bottom: .67em;
  border-bottom: 1px solid;
  line-height: 1.3;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #588157;
  padding: 10px 0px 10px 10px;
}

img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.wrapper {
    max-width: 1150px;
    margin: auto;
    padding: 50px;
    display: block;
}

.bio {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Alice', serif;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

.myButton {
  border-radius: 28px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #3A5A40;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  margin: 1.69em auto;
}

.myButton:hover {
    background-color:#588157;
}

.myButton:active {
    position:relative;
    top:1px;
}

.recipe {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
}

.a {
  color: #344E41;
}

.c {

}

.time {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
  height: auto;
}

.mins {
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
}

.description {
  font-family: 'Alice', serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #4a4a4a;
}

.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}

.container {
  /* min-width: 500px; */
  margin: auto;
}

footer div {
  height: 100%;
  font-family: 'Alice', serif;
  font-size: 14px;
  display: flex;
  align-content: center;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.75);
}

@media all and (max-width:700px) {
  main {
    grid-template-columns: 1fr;
  }
}
